


<script>
    $(document).ready(function () {

        // exemple Datatable
        $('#example').DataTable( {
            "ajax": {
                "url": "https://demos.telerik.com/kendo-ui/service/Northwind.svc/Customers",
                "dataSrc": function (json) { 
                    console.log(json.d);
                    return JSON.parse(json.d).data;
                    }
            },
            columns: [{
                data: "CustomerID",
                title: "test"
            }, {
                data: "CompanyName",
                title: "test2"
            }, {
                data: "ContactName",
                title: "test3"
            }, {
                data: "ContactTitle",
                title: "test4"
            }],
        });

        // exemple Kendo Grid
        $("#grid").kendoGrid({
            theme: "bootstrap",
            dataSource: {
                type: "odata",
                transport: {
                    read: "https://demos.telerik.com/kendo-ui/service/Northwind.svc/Customers"
                },
                pageSize: 20
            },
            height: 550,
            groupable: true,
            sortable: true,
            pageable: {
                refresh: true,
                pageSizes: true,
                buttonCount: 5
            },
            columns: [{
                template: "<div class='customer-photo'" +
                "style='background-image: url(../content/web/Customers/#:data.CustomerID#.jpg);'></div>" +
                "<div class='customer-name'>#: ContactName #</div>",
                field: "ContactName",
                title: "Contact Name",
                width: 240
            }, {
                field: "ContactTitle",
                title: "Contact Title"
            }, {
                field: "CompanyName",
                title: "Company Name"
            }, {
                field: "Country",
                width: 150
            }]
        });

    });// ready


</script>

<div class="">

    {# <div id="grid">
    </div> #}

    <div>
        <table id="example" class="table table-striped" style="width:100%">
        </table>
    </div>
</div>
